@import './reset.scss';
@import './var.scss';
@import './base.scss';
html,body, #app {
  max-width: 750PX;
  margin: 0 auto;
}
input,textarea{
  -webkit-appearance: none;
}
.main-body {
  padding: 18px 0 0 !important;
}
.pt18 {
  padding-top: 18px;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center !important;
}

#app {
  .el-dialog.full-width {
      width: 100% !important;
  }
}
.shoushi {
  cursor: pointer;
}

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.f30 {
  font-size: 30px;
}
.f35 {
  font-size: 35px;
}
.f28 {
  font-size: 28px;
}
.theme-primary {
  color: $themeColor;
}

.form-style {
  color: $black;
  padding: 0 30px;
  .label {
    line-height: 2;
    font-size: 24px;
  }
  .form-item {
    margin-bottom: 30px;
  }
  .form-input {
    width: 100%;
    height: 58px;
    box-sizing: border-box;
    line-height: 1;
    padding: 10px;
    border-radius: 0;
    border: 0.8PX solid $gray !important;
    box-shadow: none;
    -webkit-appearance: none;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .form-style {
    .form-input {
      border: 0.8PX solid $gray !important;
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .form-style {
    .form-input {
      border: .3333PX solid $gray !important;
    }
  }
}


input:focus,
input:active,
button:active,
button:focus {
  outline: none;
}

.dialog-logo {
  padding: 50px 0 0;
  img {
    width: 350px;
  }
}

.dialog-footer {
  margin-top: -20px;
  padding: 0 0 20px;
}

#app {
  .el-dialog {
    min-width: 60%;
    width: auto !important;
    box-shadow: none;
    border: .8PX solid $black;
    border-radius: 0;
    &.no-border {
      border: 0 none;
    }
    .el-icon-close:before {
      content: '';
      display: inline-block;
      width: 17px;
      height: 16px;
      background: url("~@/assets/x.png");
      background-size: 100% 100%;
    }
    .el-dialog__header {
      padding: 0;
    }
    .el-dialog__headerbtn {
      right: 20px;
      top: 5px;
    }
    .el-dialog__body {
      font-size: 28px;
      padding: 40px 20px 20px;
    }
  }

  .custom-dialog {
    .el-icon-close:before {
      display: none;
    }
  }

  .dialog-main {
    .el-dialog {
      width: 80% !important;
    }
  }

  .el-input-number{
    width: 180px;
    height: 60px;
    line-height: 60px;

    &.is-disabled {
      .el-icon-minus,
      .el-icon-plus{
        display: none;
      }
      .el-input-number__decrease,
      .el-input-number__increase,
      .el-input__inner {
        border-color: #b2b2b2;
      }
    }

    .el-input {
      width: 180px;
    }

    .el-input-number__decrease, .el-input-number__increase {
      width: 48px;
      height: 56px;
      line-height: 56px;
      border-color: #b2b2b2;
      background: #fff;
      font-weight: 900;
      color: #999;
      font-size: 36px;

    }

    .el-input__inner {
      width: 180px;
      height: 60px;
      line-height: 60px;
      padding: 0;
      border: 1PX solid #b2b2b2;
      border-radius: 0;
      font-size: 36px;

    }

    .el-icon-minus,
    .el-icon-plus{
      line-height: 56px;
      font-size: 30px;
      font-weight: 900;
      vertical-align: 1px;
    }

    .el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled),
    .el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled) {
      border-color: #b2b2b2;
    }

  }

  .el-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0 !important;
    transform: translate(-50%, -50%);
    .el-dialog__body {
      color: #000;
    }
  }

  .mbp {
    line-height: 1.6;
  }
  .font-12 {
    font-size: 12px;
  }
  .font-14 {
    font-size: 14px;
  }

  .mycheck {
    display: inline-block;
    width: 30px;
    position: relative;
    height: 30px;
  }

  .mycheck input[type=checkbox] {
    visibility: hidden;
    height: auto !important;
  }

  .mycheck input[type=radio] {
    visibility: hidden;
    height: auto !important;
  }

  .mycheck label {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background: #fff;
    border: 5px solid #000;
    box-sizing: border-box;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .mycheck label:after {
    opacity: 0;
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 6px;
    border: 4px solid #fff;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .wh-20{
    width: 20px;
    height: 20px;
  }
  .mycheck input[type=checkbox]:checked + label {
    background: #f6625e;
  }

  .mycheck input[type=checkbox]:checked + label:after {
    opacity: 1;
    background: #f6625e;
  }

  .mycheck input[type=radio]:checked + label {
    background: #f6625e;
  }
  .mycheck input[type=radio]:hover + label {
    background: #f6625e;
  }
  .mycheck input[type=radio]:checked + label:after {
    opacity: 1;
    background: #f6625e;
  }
  .mycheck input[type=radio]:hover + label:after {
    opacity: 1;
    background: #f6625e;
  }
}

@media screen and (min-width: 750px) {
  .el-dialog__headerbtn {
    right: 20px;
    top: 18px !important;
  }
  .dialog-logo {
    padding: 40px 0 0 !important;
  }

  .dialog-footer {
    padding: 0 0 30px !important;
  }
}
